.ql-editor{
    overflow: scroll;
    background: var(--color-white);
    height: 5rem !important;
}


@media screen and (max-width: 800px) {
    
    .register, .login, .create-post{
        width: 100%;
    }
    }